.photo__grid {
  max-width: 93%;
  margin: 0 auto;
}

.photo__grid-itens {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 0;
  margin: auto;
}

.photo__container {
  width: 100%;
}

.photo__item {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .photo__grid-itens {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media screen and (max-width: 544px) {
  .photo__grid-itens {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .photo__item {
    width: 100%;
    height: 100%;
  }
}
