.places {
  max-width: 77%;
  margin: 92px auto 0;
  color: #fff;
  font-family: Inter;
}
.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto 80px;
  column-gap: 40px;
  grid-template-areas:
    "title artist"
    "image paragraph"
    "buttom paragraph"
    ". paragraph";
}

.place__title {
  margin-top: 0;
  margin-bottom: 48px;
  width: 100%;

  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.05;
  grid-area: title;
}

.place__container-artist {
  width: 100%;
  margin-top: auto;
  margin-bottom: 48px;
  grid-area: artist;
}

.place__url-heading {
  width: 5%;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: last baseline;
  margin: 0;
}

.place__artist {
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22;
  margin: 0;
}
.place__paragraph-container {
  max-width: 100%;
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}
.place__paragraph {
  margin: 0;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.63;
}

.place__image {
  width: 100%;
  object-fit: cover;
  grid-area: image;
}

.place__link {
  width: 315px;
  text-decoration: none;
  margin-top: 48px;
  color: #fff;
  border-radius: 4px;
  background: #0278fe;
  text-align: center;
  padding: 13px 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.2s;
}

.place__link:hover {
  background: #0063d2;
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 28px;
    margin: 0 auto 31px;
  }
  .place__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 46px;
    font-size: 42px;
  }
  .place__container-artist {
    margin-bottom: 46px;
    width: 100%;
  }

  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 93%;
    margin-top: 0;
  }
  .place {
    margin-bottom: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "paragraph"
      "buttom";
  }
  .place__title {
    margin-bottom: 30px;

    font-size: 32px;

    line-height: 1.09;
  }
  .place__container-artist {
    margin-bottom: 30px;
  }

  .place__image {
    margin-bottom: 30px;
  }
  .place__paragraph-container {
    row-gap: 7px;
  }
  .place__paragraph {
    font-size: 16px;
  }
  .place__link {
    width: 90%;
    margin-top: 22px;
    margin-bottom: 50px;
  }
}
